.App {
  height: 100%;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.textLog {
  background-color: black;
  color: white;
  flex-grow: 1;
}

#textForm {
  width: 100%;
  display: flex;
}

#textInput {
  background-color: grey;
  flex: 2;
}

#submitText {
  width: 60px;
}

